



 <!--
<mat-sidenav-container class="sidebar-sidenav-container">
    <mat-sidenav [(opened)]="opened" mode="over"  #snav>
   
      <mat-list>

          <a mat-button><mat-icon>home</mat-icon></a>
          <a mat-button><mat-icon>home</mat-icon></a>
          <a mat-button><mat-icon>home</mat-icon></a>
          <a mat-button><mat-icon>home</mat-icon></a>
          <a mat-button><mat-icon>home</mat-icon></a>
          <a mat-button><mat-icon>home</mat-icon></a>        
          <mat-list-item>     
            <button (click)="logout()" class="m-1 btn btn-light btn-outline-primary" Button>LogOut</button>
          </mat-list-item>

      </mat-list>

    <h2 matSubheader>Shop by Department</h2>

    <mat-nav-list class="side-navnar">
      <ng-container *ngFor="let menu of menuList | async; index as i;">
          <ng-container [ngTemplateOutlet]="menu.children ?  childMenu : parentMenu"
              [ngTemplateOutletContext]="{menu:menu}">
          </ng-container>
      </ng-container>
  </mat-nav-list>
  
  <ng-template #parentMenu let-menu="menu">
      <mat-list-item [routerLink]="menu.routerLink" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>{{menu.icon}}</mat-icon> {{menu.text}}
      </mat-list-item>
  </ng-template>
  
  <ng-template #childMenu let-menu="menu">
      <mat-expansion-panel [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
              <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>{{menu.text}}
          </mat-expansion-panel-header>
          <mat-nav-list>
              <mat-list-item [routerLink]="submenu.routerLink" *ngFor="let submenu of menu.children" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:  true}">
                  <mat-icon>{{submenu.icon}}</mat-icon> {{submenu.text}}
              </mat-list-item>
          </mat-nav-list>
      </mat-expansion-panel>
  </ng-template>
    
  </mat-sidenav>
   
     
<mat-sidenav-content>
 
 
  <mat-toolbar>
    <mat-toolbar-row>
        <img
        width="40"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      />
      <span>Welcome</span>
        <div class="spacer"></div>
        <button (click)="logout()" class="m-1 btn btn-light btn-outline-primary" Button>LogOut</button>
        <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
          <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
            <rect width="400" height="400" fill="none"/>
            <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
          </svg>
        </a>
        <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
          <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff">
            <path d="M0 0h24v24H0V0z" fill="none"/>
            <path d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
          </svg>
        </a>  
    
        <button mat-button (click)="stopSliding()"><mat-icon>menu</mat-icon></button>
    
    
    </mat-toolbar-row>
  
    <mat-toolbar-row>
      <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>Next Row</span>
    </mat-toolbar-row>
  
  </mat-toolbar> 

  
  -->


<div class="MainContent">
  

      <div class="row1">
            <ngb-carousel [interval]="interval" #carousel>
            
              <ng-template ngbSlide *ngFor="let reklama of reklame">
            
                <div class="wrapper">
            
                  <img [src]="reklama.src" alt="Random first slide">
            
                </div>
            
                
            
              </ng-template>
            
            </ngb-carousel>



            <div  class="main">
              <div class="template">
                <div class="text">Shop by Category</div>
                <div class="grid">
                <mat-grid-list cols="2" rows="2" rowHeight="50%" gutterSize="2px">
                    <mat-grid-tile *ngFor="let item of (categories$ | async)"  (click)="CallCategory(item.RecordPk)" class="image" style="cursor: pointer;" > 
                                                   
                          <img  *ngIf="user && !user.isAdmin" [src]="item.slika" class="img-fluid bg-info">                   
                          <div *ngIf="user && user.isAdmin">
                            <img [src]="item.slika" style="width:100%; height: 150px; object-fit: 'fill';">  
                             <p  class="Score">{{item.Score}} </p> 
                          </div>

                            <div class="d-flex align-items-center justify-content-center hover-overlay">
                              <p class="hover_text">{{item.CategoryName}}</p>
                            </div>
                         
                         
                    </mat-grid-tile>
                  </mat-grid-list>
                </div> 
               
                <a (click)="CallCategoryDepartment()"> 
                  <div class="ShopNow">
                   <i style="padding: 2%;" class="fa fa-shopping-cart fa-2x"></i>
                     <p style="padding-top: 3%; ">Show Now</p>
                
                </div> 
              </a>
              </div>

              <div  class="template">
                  <div class="text"> Shop by Department</div>
                  <div class="grid">
                    <mat-grid-list cols="2" rows="2" rowHeight="50%" gutterSize="2px">
                      <mat-grid-tile *ngFor="let item of (departments$ | async)" (click)="CallDepartment(item.RecordPk)" class="image" style="cursor: pointer;" > 
                      
                       <img  *ngIf="user && !user.isAdmin" [src]="item.slika" class="img-fluid bg-info">                   
                          <div *ngIf="user && user.isAdmin">
                            <img [src]="item.slika" style="width:100%; height: 150px; object-fit: 'fill';">  
                             <p  class="Score">{{item.Score}} </p> 
                          </div>
                        <div class="d-flex align-items-center justify-content-center hover-overlay">
                         <p class="hover_text">{{item.DepartmentName}}</p>
                        </div>

                      </mat-grid-tile>
                    </mat-grid-list>
                  </div>  
                  <a (click)="CallDepartments()"> 
                    <div class="ShopNow">
                     <i style="padding: 2%;" class="fa fa-shopping-cart fa-2x"></i>
                       <p style="padding-top: 3%; ">Show Now</p>
                  
                  </div> 
                </a>

                </div>
                <div  class="template">
                  <div class="prediction"><p> Recommended products </p></div>
                  <div class="grid" >
                    <mat-grid-list  cols="2" rows="2" rowHeight="50%" gutterSize="2px">
                      <mat-grid-tile *ngFor="let item of (row1Products_1$ | async)"  (click)="openProduct(item.ProductPk)"  class="image" style="cursor: pointer;" > 
                      
                        <img  *ngIf="user && !user.isAdmin" [src]="item.slika" class="img-fluid bg-info">                   
                        <div *ngIf="user && user.isAdmin">
                          <img [src]="item.slika" style="width:100%; height: 150px; object-fit: 'fill';">  
                           <p  class="Score">{{item.Score}} </p> 
                        </div>
                        <div class="d-flex align-items-center justify-content-center hover-overlay">
                         <p class="hover_text">{{item.ProductName}}</p>
                        </div>

                      </mat-grid-tile>
                    </mat-grid-list>
                  </div>  
              
                </div>
                <div   class="template">
                  <div class="prediction"> <h1>Keep shopping for</h1></div>
                  <div class="grid">
                    <mat-grid-list cols="2" rows="2" rowHeight="50%" gutterSize="2px">
                      <mat-grid-tile *ngFor="let item of (row1Products_2$ | async)"  (click)="openProduct(item.ProductPk)"  class="image" style="cursor: pointer;" > 
                        
                        <img  *ngIf="user && !user.isAdmin" [src]="item.slika" class="img-fluid bg-info">                   
                        <div *ngIf="user && user.isAdmin">
                          <img [src]="item.slika" style="width:100%; height: 150px; object-fit: 'fill';">  
                           <p  class="Score">{{item.Score}} </p> 
                        </div>
                        <div class="d-flex align-items-center justify-content-center hover-overlay">
                         <p class="hover_text">{{item.ProductName}}</p>
                        </div>

                      </mat-grid-tile>
                    </mat-grid-list>
                  </div>
                </div>  
            </div>

        </div>



      
        <div class="row2" *ngIf="(row2Items$ | async) as row2Items">
        
          

              <div class="template">
                <div *ngIf="row2Items.TopDepartment">
                  <div class="text_img"> <h1> Top Department </h1></div>
                  <div *ngIf="user && user.isAdmin" class="Score">{{row2Items.TopDepartment.Score}} </div>
                  <div class="grid">
                
                    <img [src]="row2Items.TopDepartment.slika" (click)="CallDepartment(row2Items.TopDepartment.RecordPk)"
                    > 
                   
                  </div> 
                  <p class="text_img">{{row2Items.TopDepartment.DepartmentName}}<p>

                  <a (click)="CallDepartment(row2Items.TopDepartment.RecordPk)"> 
                    <div class="ShopNow">
                    <i style="padding: 2%;" class="fa fa-shopping-cart fa-2x"></i>
                      <p style="padding-top: 3%;">Show Now</p>
                  
                    </div> 
                  </a> 
                </div>
                </div>
                
                <div class="template">
                  

                <div *ngIf="row2Items.TopCategory">

                  <div class="text_img"> <h1> Top Category</h1></div>
                  <div *ngIf="user && user.isAdmin" class="Score">{{row2Items.TopCategory.Score}} </div>

                  <div class="grid">
                
                   <img [src]="row2Items.TopCategory.slika" (click)="CallCategory(row2Items.TopCategory.RecordPk)" > 

                  </div> 
                  <p class="text_img">{{row2Items.TopCategory.CategoryName}}<p>

                  <a (click)="CallCategory(row2Items.TopCategory.RecordPk)"> 
                    <div class="ShopNow">
                    <i style="padding: 2%;" class="fa fa-shopping-cart fa-2x"></i>
                      <p style="padding-top: 3%; ">Show Now</p>
                  
                    </div> 
                  </a> 
               </div>


              </div>

              <div class="template">
                  

                <div *ngIf="row2Items.TopProduct">

                  <div class="text_img"> <h1> <i class="fa fa-crown"></i>  Top Product</h1></div>
                  <div *ngIf="user && user.isAdmin" class="Score">{{row2Items.TopProduct.Score}} </div>

                  <div class="grid">
                
                    <img [src]="row2Items.TopProduct.slika" (click)="openProduct(row2Items.TopProduct.ProductPk)"> 
      
                  </div> 
                  
                  <p class="text_img">{{row2Items.TopProduct.ProductName}}<p>

                  <a (click)="openProduct(row2Items.TopProduct.ProductPk)"> 
                    <div class="ShopNow">
                    <i style="padding: 2%;" class="fa fa-shopping-cart fa-2x"></i>
                      <p style="padding-top: 3%; " >Show Now</p>
                  
                    </div> 
                  </a> 
               </div>


              </div>


              <div class="template">
                  

                <div *ngIf="row2Items.TopSale">

                  <div class="text_img">  <h1><i class="fa fa-crown"></i> Top Sale</h1>  </div>
                  <div *ngIf="user && user.isAdmin" class="Score">{{row2Items.TopSale.Score}} </div>

                  <div class="grid">
                   
                    <img [src]="row2Items.TopSale.slika" (click)="openProduct(row2Items.TopSale.ProductPk)"> 
                  
                  </div>
                  <p class="text_img">{{row2Items.TopSale.ProductName}}<p>

                  <a (click)="openProduct(row2Items.TopSale.ProductPk)"> 
                    <div class="ShopNow">
                    <i style="padding: 2%;" class="fa fa-shopping-cart fa-2x"></i>
                      <p style="padding-top: 3%; ">Show Now</p>
                  
                    </div> 
                  </a> 
               </div>


              </div>
          
             <!---------------------------------------------------------------------------->

           

           
        </div>
        <!---------ROW3--------------------------------------------------------->
      
        <div class="row2" style="padding-top:0%">
          
          <div class="template" *ngFor="let item of (row3Products$ | async)">
            <div class="text_img"> <h1>{{item.ProductName}}</h1></div>
            <div class="grid">
          
              <img [src]="item.slika" (click)="openProduct(item.ProductPk)"> 

            </div> 
            <a (click)="openProduct(item.ProductPk)"> 
              <div class="ShopNow">
                <i style="padding: 2%;" class="fa fa-shopping-cart fa-2x"></i>
                  <p style="padding-top: 3%;">Show Now</p>
            
              </div> 
            </a> 
          </div>

        </div>

    <!--Row4---------------------------------------------------------------------->
        <div class="row3" *ngIf="(row4Products$ | async) as row4Products">
          <div class="text"> <h1>Top {{row4Products.CategoryName}}</h1></div>
          <drag-scroll #scroll [scroll-x-wheel-enabled]="false">
              <div  *ngFor="let item of row4Products.products" drag-scroll-item>
                <div class="scrol_img">
                  <img [src]="item.slika" (click)="openProduct(item.ProductPk)" class="img_fit" alt="...">
                  <div *ngIf="user && user.isAdmin" class="ScoreBlack">{{item.Score}} </div>

                </div>
              </div>  
            </drag-scroll>

        
            <button (click)="moveLeft()" class="leftBtn pull-left">Left</button>
            <button (click)="moveRight()" class="rightBtn pull-right">Right</button>
          
        </div>  

        <!--Row5----------------------------------------------------------------------->
    
        <div class="row4"  *ngIf="(row5Items$ | async) as row5Items">
          <div class="text"> <h1>Products under {{row5Items.ProductPrice | currency:'EUR':true }}</h1></div>
          <div style=" display: flex; justify-content: center; ">
              <div class="template" *ngFor="let item of row5Items.products">
                <div class="text_img"> <h1>{{item.ProductName}}</h1></div>
                <div class="grid">
              
                  <img [src]="item.slika" (click)="openProduct(item.ProductPk)"> 

                </div> 
                <a (click)="openProduct(item.ProductPk)"> 
                  <div class="ShopNow">
                  <i style="padding: 2%;" class="fa fa-shopping-cart fa-2x"></i>
                    <p style="padding-top: 3%;">Show Now</p>
                
                  </div> 
                </a> 
            </div>
          </div>

        </div>

     
        <div class="row3" *ngIf="(row6Products$ | async) as row6Products">
          <div class="text"> <h1>Top products from your Categories</h1></div>
          <drag-scroll #scroll2 [scroll-x-wheel-enabled]="false">
            <div  *ngFor="let item of row6Products" drag-scroll-item>
              <div class="scrol_img">
                  <img [src]="item.slika" (click)="openProduct(item.ProductPk)" class="img_fit" alt="...">
                  <div *ngIf="user && user.isAdmin" class="ScoreBlack">{{item.Score}} </div>
                </div>
              </div>  
            </drag-scroll>

            <button (click)="Slider2prevImageClick()" class="leftBtn">Left</button>
            <button (click)="Slider2nextImageClick()" class="rightBtn">Right</button>
        </div>  

   
</div>









<!--

<app-footer></app-footer>

</mat-sidenav-content>

</mat-sidenav-container>



-->